{% extends "LayoutFront.twig" %}
{% block title %}Accueil{% endblock %}
{% block active %}active{% endblock %}

{% block content %}

    <div class="big-title">
        <h1>Sections</h1>
        {% for article in article %}
            {% if loop.index == 1 %}
                <h2>Chapitre: {{ article.chapter_name }}</h2>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container">
            <div class="row">
                {% for articles in articles %}
                <div class="col-12 card-resize">
                    <div class="row card-custom">
                        <div class="col-12">
                            <div class="row">
                                <h2 class="col-lg-9 col-xs-12 card-title">{{articles.title}}</h2>
                                <div class="col-lg-3 col-xs-12 m-auto"><h6 class="col-lg-12 text-right">
                                        {{articles.creation_date|date("d/m/Y")}}</h6>
                                </div>
                            </div>
                            <div class="card-text text-justify">{{ articles.summary }}</div>
                        </div>
                        <div class="col-12 d-flex flex-row-reverse">
                            <a class="btn btn-success custom-button" href="/article-{{articles.id}}">Lire</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}